{%block title%}Index!{%endblock%}

{%block main_content%}

	<h1>Index</h1>
	<div class="row">
		<div class="span4">
			<img src="http://placehold.it/360x200" class="img-polaroid">
		</div>
		<div class="span4">
			<img src="http://placehold.it/360x200" class="img-polaroid">
		</div>
		<div class="span4">
			<img src="http://placehold.it/360x200" class="img-polaroid">
		</div>
	</div>

{%endblock%}